@using CyberResilience.Common.App_LocalResources
@model string
@{
    ViewBag.Title = Model;
}


<div class="confirmation-wrapper success" data-GeneralJs-disableBackbtn="true">

    <span class="conf-icon"></span>

    <p class="conf-msg">
        @Model
    </p>

</div>

