<connectionStrings>
  <add name="Database" connectionString="data source=plesk4200.is.cc;Initial Catalog=CCStandards;Persist Security Info=True;User ID=msbaih;Password=Cyb@1234" providerName="System.Data.SqlClient"/>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\db.mdf;Initial Catalog=Portal.Web;Integrated Security=True" providerName="System.Data.SqlClient" />-->
</connectionStrings>